<div class="container-fluid">
	<div class="row business-home-image center-text business-home-page">
		<h1>{{ "view.business.home.line1"| translate }}</h1>
	</div>
			<div class="row container-fluid center-text home-section">
			<div class="col-md-4">
				<a ui-sref="business.register">
					<span class="fa-stack fa-4x"> <i
						class="fa fa-circle fa-stack-2x text-primary"></i> <i
						class="fa fa-registered fa-stack-1x fa-inverse"></i>
					</span>
					<h4 class="service-heading">{{"view.business.home.step1.title"
						| translate }}</h4>
					<p class="text-muted">{{"view.business.home.step1.description" | translate }}</p>
				</a>
			</div>
			<div class="col-md-4">
				<span class="fa-stack fa-4x"> <i
					class="fa fa-circle fa-stack-2x text-primary"></i> <i
					class="fa fa-pencil-square-o fa-stack-1x fa-inverse"></i>
				</span>
				<h4 class="service-heading">{{"view.business.home.step2.title"
					| translate }}</h4>
				<p class="text-muted">{{"view.business.home.step2.description" | translate }}</p>
			</div>
			<div class="col-md-4">
				<span class="fa-stack fa-4x"> <i
					class="fa fa-circle fa-stack-2x text-primary"></i> <i
					class="fa fa-credit-card fa-stack-1x fa-inverse"></i>
				</span>
				<h4 class="service-heading">{{"view.business.home.step3.title"
					| translate }}</h4>
				<p class="text-muted">{{"view.business.home.step3.description" | translate }}</p>
			</div>
		</div>
	
</div>