<!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

	<!-- Navigation -->
	<nav class="navbar navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" ui-sref="user.home">POC</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a ui-sref="user.about">{{"views.sections.about" |
							translate }}</a></li>
					<li><a ui-sref="user.services">{{"views.sections.services" |
							translate }}</a></li>
					<li><a ui-sref="user.faq">{{"views.sections.faq" | translate }}</a>
					</li>
					<li><a ui-sref="business.home">{{"views.index.business" | translate }}</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>

	<div ui-view></div>

<!-- Footer -->
 <footer>
     <div class="row">
         <div class="center-text">
             <label>{{"views.footer.copyright" | translate }}</label>
         </div>
     </div>
 </footer>