
<div class="row">
	<div class="col-lg-12">
		<ol class="breadcrumb">
			<li>{{"views.sections.request" | translate}}</li>
			<li>{{category}}</li>
			<li>{{services.toString()}}</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<form role="form" ng-controller="RequestCtrl"  ng-submit="submit()" name="requestForm" class="request-form">
			  <div class="form-group">
			    <label for="name">{{"views.request.name" | translate }}</label>
			    <input type="text" class="form-control"  ng-model="fields.name" required>
			  </div>
			  <div class="form-group">
			    <label for="surname">{{"views.request.surname" | translate }}</label>
			    <input type="text" class="form-control" ng-model="fields.surname" required>
			  </div>
			  <div class="form-group">
			    <label for="email">{{"views.request.email" | translate }}</label>
			    <input type="email" class="form-control" ng-model="fields.email" required>
			  </div>
			  <div class="form-group">
			    <label for="phone">{{"views.request.phone" | translate }}</label>
			    <input type="tel" class="form-control" ng-model="fields.phone">
			  </div>
			  <div class="form-group">
			    <label for="placeName">{{"views.request.city" | translate }}</label>
			    <input type="text" class="form-control" ng-model="fields.placeName" required>
			  </div>
			  <div class="form-group">
			    <label for="postalCode">{{"views.request.postalcode" | translate }}</label>
			    <input type="number" class="form-control" ng-model="fields.postalCode" required>
			  </div>
			  <div class="form-group">
			    <label for="description">{{"views.request.description" | translate }}</label>
			    <textarea rows="4" cols="50" class="form-control" ng-model="fields.description"></textarea>
			  </div>
			  <!--  <div class="checkbox">
			    <label><input type="checkbox"> Remember me</label>
			  </div> -->
			  <button type="submit" class="btn btn-default">{{"views.request.submit" | translate}}</button>
		</form>
	</div>
</div>