
<!-- Page Heading/Breadcrumbs -->
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">
			{{"views.sections.thankyou" | translate}}
		</h1>
		<ol class="breadcrumb">
			<li><a ui-sref="user.home">Home</a></li>
		</ol>
	</div>
</div>
<!-- /.row -->

<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<p>{{ "views.thankyou.line1" | translate}}</p>
		<p style="float:left;">{{ "views.thankyou.line2" | translate}}</p>&nbsp;<a ui-sref="user.services">{{"views.common.link" | translate}}</a>
	</div>
</div>
