
<div class="jumbotron" style="margin-top:40px;background: url('images/banner.jpg') no-repeat center center; background-size: cover;">
	<div class="container">
			<div class="well">
				<form class="form-inline" role="form">
						<h4>{{"views.index.search.professional" | translate }}</h4>
						<h4>{{"views.index.search" | translate }}</h4>
							<angucomplete-alt id="ex1"
							  placeholder='{{"views.index.search.question" |translate }}'
				              pause="100"
				              selected-object="selectedService"
				              local-data="suggestions"
				              search-fields="hint"
				              title-field="hint"
				              minlength="1"
				              input-class="form-control"></angucomplete-alt>
								<button class="btn btn-sm btn-default" type="button">
									<i class="fa fa-fw fa-search"></i>
							</button>
				</form>
			</div>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default home-panel">
			<div class="panel-heading">
				<h4>
					<i class="fa fa-fw fa-search"></i> {{"views.index.step1.title" |
					translate }}
				</h4>
			</div>
			<div class="panel-body">
				<p>{{"views.index.step1.description" | translate }}</p>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default home-panel">
			<div class="panel-heading">
				<h4>
					<i class="fa fa-fw fa-file-text-o"></i> {{"views.index.step2.title" |
					translate }}
				</h4>
			</div>
			<div class="panel-body">
				<p>{{"views.index.step2.description" | translate }}</p>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default home-panel">
			<div class="panel-heading">
				<h4>
					<i class="fa fa-fw fa-check"></i> {{"views.index.step3.title" |
					translate }}
				</h4>
			</div>
			<div class="panel-body">
				<p>{{"views.index.step3.description" | translate }}</p>
			</div>
		</div>
	</div>
</div>
<!-- /.row -->

<!-- Service Panels -->
<div class="row">
	<div class="col-lg-12">
		<h2 class="page-header">{{"views.sections.services" |
			translate }}</h2>
	</div>
	<div class="col-md-3 col-sm-6" ng-repeat="category in categories"  ng-controller="MainCtrl">
		<div class="panel panel-default text-center home-panel">
			<div class="panel-heading">
				<h4>
					{{category.name}}
				<h4>
			</div>
			<div class="panel-body">
				<p>{{category.description}}</p>
				<div class="home-button">
					<a ng-href="#services" class="btn btn-primary">{{"views.common.learnmore" | translate}}</a>
				</div>
			</div>
		</div>
	</div>
</div>
