
<div class="jumbotron" style="margin-top:40px;background: url('images/banner.jpg') no-repeat center center; background-size: cover;">
	<div class="container">
		<form>
			<div class="well">
				<h4>{{"views.index.search.professional" | translate }}</h4>
				<h4>{{"views.index.search" | translate }}</h4>
				<div class="input-group">
					<input type="text" class="form-control" placeholder='{{"views.index.search.question" |translate }}'> <span
						class="input-group-btn">
						<button class="btn btn-default" type="button">
							<i class="fa fa-search"></i>
						</button>
					</span>
				</div>
				<!-- /.input-group -->
			</div>
		</form>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>
					<i class="fa fa-fw fa-check"></i> {{"views.index.step1.title" |
					translate }}
				</h4>
			</div>
			<div class="panel-body">
				<p>{{"views.index.step1.description" | translate }}</p>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>
					<i class="fa fa-fw fa-gift"></i> {{"views.index.step2.title" |
					translate }}
				</h4>
			</div>
			<div class="panel-body">
				<p>{{"views.index.step2.description" | translate }}</p>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>
					<i class="fa fa-fw fa-compass"></i> {{"views.index.step3.title" |
					translate }}
				</h4>
			</div>
			<div class="panel-body">
				<p>{{"views.index.step3.description" | translate }}</p>
			</div>
		</div>
	</div>
</div>
<!-- /.row -->

<hr>

<!-- Service Panels -->
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<div class="row">
	<div class="col-lg-12">
		<h2 class="page-header">{{"views.sections.services" |
			translate }}</h2>
	</div>
	<div class="col-md-3 col-sm-6">
		<div class="panel panel-default text-center">
			<div class="panel-heading">
				<span class="fa-stack fa-5x"> <i
					class="fa fa-circle fa-stack-2x text-primary"></i> <i
					class="fa fa-tree fa-stack-1x fa-inverse"></i>
				</span>
			</div>
			<div class="panel-body">
				<h4>Service One</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				<a href="#" class="btn btn-primary">Learn More</a>
			</div>
		</div>
	</div>
	<div class="col-md-3 col-sm-6">
		<div class="panel panel-default text-center">
			<div class="panel-heading">
				<span class="fa-stack fa-5x"> <i
					class="fa fa-circle fa-stack-2x text-primary"></i> <i
					class="fa fa-car fa-stack-1x fa-inverse"></i>
				</span>
			</div>
			<div class="panel-body">
				<h4>Service Two</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				<a href="#" class="btn btn-primary">Learn More</a>
			</div>
		</div>
	</div>
	<div class="col-md-3 col-sm-6">
		<div class="panel panel-default text-center">
			<div class="panel-heading">
				<span class="fa-stack fa-5x"> <i
					class="fa fa-circle fa-stack-2x text-primary"></i> <i
					class="fa fa-support fa-stack-1x fa-inverse"></i>
				</span>
			</div>
			<div class="panel-body">
				<h4>Service Three</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				<a href="#" class="btn btn-primary">Learn More</a>
			</div>
		</div>
	</div>
	<div class="col-md-3 col-sm-6">
		<div class="panel panel-default text-center">
			<div class="panel-heading">
				<span class="fa-stack fa-5x"> <i
					class="fa fa-circle fa-stack-2x text-primary"></i> <i
					class="fa fa-database fa-stack-1x fa-inverse"></i>
				</span>
			</div>
			<div class="panel-body">
				<h4>Service Four</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				<a href="#" class="btn btn-primary">Learn More</a>
			</div>
		</div>
	</div>
</div>
